* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Blinker', sans-serif;
    color:#fff;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    display:flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display:flex;
    flex-direction: column;
}
h1, p {
    margin: 0;
    padding: 0;
}
h1 {
    font: normal normal bold 3.3rem Blinker;
    color: #05CBE9;
    opacity: 1;
}
p {
    margin-top:1em;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.9rem;
    opacity: 0.8;
    line-height: 1.6;
}
main{
    overflow: hidden;
    height: 67vh;
    background-color: #111D4A;
    order:2;
    padding:3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#img-container {
    background-image: url("../img/tech.jpg");
    background-size: cover;
    background-position: center;
    order:1;
    height: 33vh;
}
footer {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:auto;
}
footer p {
    font-family: 'Blinker', sans-serif;
    font-size: 2.2rem;
    opacity: 50%;
    margin:0;
    line-height: 1.3;
}
.accent {
    font-size: 2.8rem;
    font-weight: bold;
}
button {
    display:inline-block;
    font: normal normal bold 2.5rem Blinker;
    color: #111D4A;
    background-color: #05CBE9;
    border: none;
    padding: 0.5em 2em;
}

@media (min-width:850px) {
    .container {
        flex-direction: row;
        width: 60vw;
    }
    p {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 3rem;
    }
    main{
        min-width: 70%;
        max-height: 50vh;
        align-items: flex-start;
    }
    #img-container {
        min-width: 30%;
        height:auto;
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
}