* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Blinker', sans-serif;
    color:#fff;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1, p {
    margin: 0;
    padding: 0;
}

p {
    margin-top:1em;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.9rem;
    opacity: 0.8;
    line-height: 1.6;
}

.card {
    display:flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}
.card-content{
    flex-basis: 60%;
    background-color: #111D4A;
    order:2;
    padding:3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.img-container {
    flex-basis: 30vmin;
    object-fit:cover;
    object-position: center;
    order:1;
    min-width: 0;
    min-height: 0;
}

.card-title {
    font: normal normal bold 3.3rem Blinker;
    color: #05CBE9;
    opacity: 1;
}
.card-text {
    margin-bottom:2em;
}
.card-footer {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:5em;
}
.footer-txt {
    font-family: 'Blinker', sans-serif;
    font-size: 2.2rem;
    opacity: 50%;
    margin:0;
    line-height: 1;
}
.accent {
    font-size: 2.8rem;
    font-weight: bold;
}
.read-more {
    font-size: 2rem;
    font-weight: bold;
    color: #111D4A;
    background-color: #05CBE9;
    border: none;
    padding: 0.5em 2em;
    text-decoration: none;
    margin-left:1em;
    white-space: nowrap;
}


@media (min-width:800px) {
    .card {
        flex-direction: row;
    }
    p {
        font-size: 1.8rem;
    }
    .card-title {
        font-size: 3rem;
    }
    .card-content{
        height:auto;
        align-items: flex-start;
    }
    .img-container {
        height:auto;
    }
    .card-footer {
        margin-top:auto;
        display: flex;
        justify-content: space-between;
    }
}

